@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:black;
}
header {
    background-color: #6ceeab;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0 0 30px 30px;
    box-shadow:  20px 20px 100px #49a274,
                 -20px -20px 100px #8fffe2;
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}
navbar {
    background-color: #4fdca1;
    padding: 10px;
    width: 100%;
}
navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
navbar a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Manrope', sans-serif;
}

a {
    font-family: 'Manrope', sans-serif;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 30px;
    background-color: #6ceeab;
    box-shadow:  20px 20px 100px #49a274,
                 -20px -20px 100px #8fffe2;
    height: 30em;
    width: 30em;
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

formtext {
    font-family: 'Manrope', sans-serif;
    font-size: 15pt;
}

input {
    background: #7aecb2;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5em;
    transition: all 500ms ease;
    width: 100%;
}

input:focus {
    background-color: #a0f5d5;
    transform: scale(1.05);

}

button {
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 5px #80e5bd solid;
    box-shadow:  20px 20px 60px #6dc3a1,
             -20px -20px 60px #93ffd9;
    transition: all 500ms ease;

}

button:hover {
    letter-spacing: 3px;
    background-color: #80e5bd;
    box-shadow: rgba(0,0,0,0.3) 0 7px 29px 0;
}

button:active {
    letter-spacing: 3px;
    background-color: #80e5bd;
    box-shadow: rgba(0,0,0,0.3) 0 0 0 0;
    transform: translateY(10px);
    transition: 100ms;
}