@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6ce1a6;
    color:black;
}
header {
    background-color: black;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    text-align: right;
    transition: all ease 500ms;
    font-family: 'Manrope', sans-serif;
    padding: 0.5em;
    border-radius: 7px;
}

nav a:active {
    background-color: #50c78d;
}

nav a:hover {
    background-color: #50c78d;
    color: black;
}

h1 {
    text-align: left;
    font-family: 'Climate Crisis', sans-serif;
    font-weight: normal;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #6ce1a6;
    font-size: 40px;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    margin: 3em auto;
    border-radius: 30px;
    background-color: white;
    min-height: 30em;
    height: auto;
    width: 30em;
    border: 2px solid #1c1b1b;
    box-shadow: 10px 10px #1c1b1b;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    margin: 3px;
}

input {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    min-height: 30px;
    display: block;
    width: calc(100% - 0.5rem);
    max-width: 50rem;
    margin: 0.2rem auto;
    font-family: 'Manrope', sans-serif;
    transition: all 100ms ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}


textarea {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    min-height: 125px;
    display: block;
    width: calc(100% - 0.5rem);
    max-width: 50rem;
    resize: vertical;
    margin: 0.2rem auto;
    font-family: 'Manrope', sans-serif;
    transition: all 100ms ease;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}

button {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
    transition:
        background-color 500ms ease-in-out,
        font-weight 500ms ease-in-out,
        letter-spacing 500ms ease-in-out,
        transform 100ms ease,
        box-shadow 100ms ease;
;
    width: calc(100% - 20rem);
    max-width: 50rem;
    margin: 0.2rem auto;
    height: 3em
}

button:hover {
    background-color: #50c78d;
    font-weight: bolder;
    letter-spacing: 1px;
}

button:active {
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}
