@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:black;
}
header {
    background-color: #5be79d;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
navbar {
    background-color: #3cc78d;
    padding: 10px;
    width: 100%;
}
navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
navbar a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Manrope', sans-serif;
}

a {
    font-family: 'Manrope', sans-serif;
}

form {
    align-items: first;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 50px;
    background: #a0eac9;
    box-shadow:  20px 20px 60px #88c7ab,
                 -20px -20px 60px #b8ffe7;
    height: 30em;
    width: 30em;
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
}

formtext {
    font-family: 'Manrope', sans-serif;
    font-size: 15pt;
}

input {
    border-radius: 50px;
    background: #a0eac9;
    box-shadow: inset 20px 20px 60px #88c7ab,
                inset -20px -20px 60px #b8ffe7;
    border: none;
    padding: 0.5em;
    margin: auto;
}

.glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 30px 15px rgba(255, 255, 255, 1.5);
  position: relative;
  overflow: hidden;
}
