@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6ce1a6;
    color:black;
}
header {
    background-color: black;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    text-align: right;
    transition: all ease 500ms;
    font-family: 'Manrope', sans-serif;
    padding: 0.5em;
    border-radius: 7px;
}

nav a:active {
    background-color: #50c78d;
}

nav a:hover {
    background-color: #50c78d;
    color: black;
}

h1 {
    text-align: left;
    font-family: 'Climate Crisis', sans-serif;
    font-weight: normal;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    color: #6ce1a6;
    font-size: 40px;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

h5 {
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    margin: 3em auto;
    border-radius: 30px;
    background-color: white;
    min-height: 30em;
    height: auto;
    width: 30em;
    border: 2px solid #1c1b1b;
    box-shadow: 10px 10px #1c1b1b;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    margin: 3px;
}

input {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    min-height: 30px;
    display: block;
    width: calc(100% - 0.5rem);
    max-width: 50rem;
    margin: 0.2rem auto;
    font-family: 'Manrope', sans-serif;
    transition: all 100ms ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}


textarea {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    min-height: 125px;
    display: block;
    width: calc(100% - 0.5rem);
    max-width: 50rem;
    resize: vertical;
    margin: 0.2rem auto;
    font-family: 'Manrope', sans-serif;
    transition: all 100ms ease;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}

button {
    border: 2px solid #1c1b1b;
    box-shadow: 5px 5px #1c1b1b;
    border-radius: 5px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
    transition:
        background-color 500ms ease-in-out,
        font-weight 500ms ease-in-out,
        letter-spacing 500ms ease-in-out,
        transform 100ms ease,
        box-shadow 100ms ease;
;
    width: calc(100% - 20rem);
    max-width: 50rem;
    margin: 0.2rem auto;
    height: 3em
}

button:hover {
    background-color: #50c78d;
    font-weight: bolder;
    letter-spacing: 1px;
}

button:active {
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}

.logGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log {
    align-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2em;
    margin: 2em auto;
    border-radius: 30px;
    background-color: white;
    min-height: 4vh;
    width: 90vw;
    border: 2px solid #1c1b1b;
    box-shadow: 10px 10px #1c1b1b;
}

hr {
    border: 2px solid #6ce1a6;
    border-radius: 5px;
    width: 30vw;
}

.choice {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.choice input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.7em;
    border: 2px solid #1c1b1b;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px #1c1b1b;
    cursor: pointer;
    transition:
        background-color 500ms ease-in-out,
        font-weight 500ms ease-in-out,
        letter-spacing 500ms ease-in-out,
        transform 100ms ease,
        box-shadow 100ms ease;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.choice input[type="radio"]:checked {
    background-color: #50c78d;
    box-shadow: 2px 2px #1c1b1b;
    border-width: 2.5px;
}

.choice input[type="radio"]:hover {
    background-color: #50c78d;
    font-weight: bolder;
    letter-spacing: 1px;
}

.choice input[type="radio"]:active {
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
    /* for a pressed button feel */
}

/* Optional for a more "buttony" look: */
.choice input[type="radio"]::after {
    content: '';
    display: block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    position: absolute;
    top: 0.39em;
    left: 0.39em;
    background: transparent;
    transition: background 300ms;
}

.choice input[type="text"] {
    width: 14vw;
    margin-left: 0.2em;
    min-width: 8em;
    flex: 1;
}

.quizSelect {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
}

.startQuizButton {
    display: flex;
    flex: 2;
    justify-content: right;
}