{% extends 'base.html' %}   
{% block title %}Add Logs - Smart Study Quiz App{% endblock %}
{% block content %}
        <form method="POST" action="{{ url_for('add_log') }}">
            <h2>Add Progress</h2>
            <p>Date </br>
            <input type="date" name="date" required></p>
            <p>Title </br>
            <input type="text" name="title" placeholder="Title" required></p>
            <p>Details </br>
                <textarea class="details" name="details" placeholder="Details" required></textarea></p>
            <br>
            <button type="submit">Add Progress</button>

        </form>

{% endblock %}