{% extends 'base.html' %}   
{% block title %}Add Logs - Smart Study Quiz App{% endblock %}
{% block content %}
        <form method="POST"
              action="{{ url_for('add_progress') }}"
              enctype="multipart/form-data"
              novalidate>
            {{ form.csrf_token }}
            <h2>Add Progress</h2>
            <p>Date </br>
                {{ form.date() }}</p>
            <p>Title </br>
                {{ form.title() }}</p>
            <p>Details </br>
                {{ form.details() }}</p>
            <br>
            <p>Image </br>
                {{ form.image() }}</p>
            {{ form.submit() }}

        </form>

{% endblock %}