<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Study Quiz App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>{% block heading %}Smart Study Quiz App{% endblock %}</h1>
    </header>
    <navbar>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('register') }}">Register</a>
    </navbar>
    <content>
        {% block content %}
        {% endblock %}
    </content>
</body>
</html>