{% extends 'base.html' %}
{% block title %}Quiz - Smart Study Quiz App{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('quizResults') }}" style="width: 60vw;">
        <input type="hidden" name="quiz_id" value="{{ quiz.quiz_id }}">
        <h2>{{ quiz.quiz_title }}</h2>
        <p style="align-self: center">{{ quiz.quiz_description }}</p>

        {% for question in questions %}
            <h5>{{ question.question }}</h5>
            <div class="choice">
                {% for j in range(4) %}
                    <label class="answer-box">
                        <input type="radio" name="answer_{{ question.id }}" value="{{ j }}" required>
                        {{ question['choice' ~ (j + 1)] }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" style="width: 55vw">Submit Quiz</button>
    </form>
{% endblock %}