{% extends 'base.html' %}   
{% block title %}Register - Smart Study Quiz App{% endblock %}
{% block heading %}Register{% endblock %}
{% block content %}
        <form method="POST" action="{{ url_for('register') }}">
            <formtext>username </br>
            <input type="text" name="username" placeholder="Username" required></formtext>
            <formtext>display name </br>
            <input type="text" name="displayName" placeholder="Display Name" required></formtext>
            <formtext>email </br>
            <input type="email" name="email" placeholder="Email" required></formtext>
            <formtext>password </br>
            <input type="password" name="password" placeholder="Password" required></formtext>
            <formtext>confirm password </br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required></formtext> </br>
            <button type="submit">Register</button>

        </form>

{% endblock %}

