{% extends 'base.html' %}   
{% block title %}Register - Smart Study Quiz App{% endblock %}
{% block content %}
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <h2>Register</h2>
            <p>username
                {{ form.username() }}</p>
            <p>display name
                {{ form.displayName() }}</p>
            <p>email
                {{ form.email() }}</p>
            <p>password
                {{ form.password() }}</p>
            <p>confirm password
                {{ form.confirmPassword() }}</p>
            {{ form.submit() }}

        </form>

{% endblock %}

