{% extends 'base.html' %}   
{% block title %}View Logs - Smart Study Quiz App{% endblock %}
{% block content %}
        <p>View your progress</p>
        {% if posts %}
            <div class="logGrid">
                {% for post in posts %}
                    <div class="log">
                        <h3>{{ post.title }}</h3>
                        <h3>{{ post.date }}</h3>
                        <p>{{ post.details }}</p>
                    </div>
                {% endfor %}
            </div>

            <!-- Original table format
            <table>
                <tr>
                    <th> Date </th>
                    <th> Title </th>
                    <th> Details </th>
                </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.date }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.details }}</td>
                </tr>
            {% endfor %}
            </table>
            -->
        {% else %}
            <p>No progress entries found</p>
        {% endif %}
{% endblock %}